<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="c" class="in.sigma.beans.CreditCard" />
    <bean id="debit" class="in.sigma.beans.DebitCard"/>
    <bean id="amex" class="in.sigma.beans.AmexCard"/>

    <bean id="pay" class="in.sigma.beans.PaymentService" autowire="byName">
        <constructor-arg ref="debit"></constructor-arg>
    </bean>
</beans>